@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans";
    font-size: 14px;
}

/* HEADER */

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
}

nav span {
    font-weight: bold;
}

/* TOGGLE SWITCH */
.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: hsl(0, 0%, 95%);
    transition: background-color 0.4s ease;
}

.slider.round {
    border-radius: 34px;
}

.icon {
    position: absolute;
    left: 6px;
    top: 50%;
    font-size: 20px;
    translate: 0 -50%;
    transition: left 0.6s ease,
        transform 0.8s ease;
    color: hsl(200, 15%, 8%);
}

input:checked+.slider .icon {
    transform: translateX(24px) rotate(360deg);
    color: hsl(0, 0%, 100%);
}

input:checked+.slider {
    background-color: hsl(207, 26%, 17%);
}

/* SEARCH */
.search-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0.5rem;
    background-color: hsl(0, 0%, 100%);
    width: fit-content;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075)
}

#search {
    border: none;
    background-color: transparent;
    outline: none;
}

#search::placeholder, 
.search-icon {
    color: hsl(0, 0%, 52%);
}